@model Painters.Models.Painter

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.Photo != null)
            {
                <img src="@Url.Action("GetImage", new {Model.Id})" class="img-rounded" />
            }

            <table class="table table-hover">
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Country)</th>
                    <td>@Html.DisplayFor(model => model.Country)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Biography)</th>
                    <td>@Html.DisplayFor(model => model.Biography)</td>
                </tr>
            </table>

            <h4>Works of @Model.Name</h4>
            @{
                Html.RenderAction("PingsOfPers", "PaintersPaintings", new { id = Model.Id });
            }
            <p>Total paintings: @Model.Paintings.Count</p>

            <div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index") |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
            </div>


        </div>
        
    </div>
</div>

