@model Painters.Models.Painting

@{
    ViewBag.Title = "Delete";
}

<h2>Delete - @Model.Title</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    @if (Model.Canvas != null)
    {
        <img src="@Url.Action("GetImage", new {Model.Id})" class="img-edit" />
    }
    <table class="table table-hover">
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Title)</th>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Year)</th>
            <td>@Html.DisplayFor(model => model.Year)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Museum)</th>
            <td>@Html.DisplayFor(model => model.Museum)</td>
        </tr>

        <tr>
            <td colspan="2" class="spannedCell text-center">
                @using (Html.BeginForm())
                { 
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-default" /> <span> | </span>
                        @Html.ActionLink("Back to List", "Index") <span> | </span>
                        @Html.ActionLink("See Details", "Details", new {id = Model.Id });
                }
            </td>
        </tr>
    </table>


</div>






